# Hệ thống build
bin/
obj/
out/
*.exe
*.dll
*.pdb
*.appx
*.appxbundle
*.msix
*.msixbundle

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Các thư mục phụ trợ của NuGet
.nuget/
packages/
project.lock.json
project.assets.json

# ASP.NET Core
wwwroot/
appsettings*.json

# Thư viện JavaScript & CSS đã tải về
node_modules/
wwwroot/lib/

# Database
Database/*.mdf
Database/*.ldf
*.db

# DevExtreme
wwwroot/css/devextreme/
wwwroot/js/devextreme/

# GitHub Actions
.github/workflows/

# Các file log và debug
logs/
*.log
